@import "tailwindcss";
@import "./styles/radix.css";
/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */

body {
  background-color: #0A0928;
  color: white;
}

.loginRight h1 strong {
  background: #A43EEA;
  background: linear-gradient(to right, #A43EEA 0%, #21B2EC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loginForm form input[type='text'] {
  transition: background-color 0.2s ease-in;
}

.loginForm form button {
  transition: 0.2s ease-in;
}


.loader {
  color: #fff;
  width: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
  margin: 0 auto;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
  }

  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
  }
}

.layout {
  background: #d6d6d6;
  background: linear-gradient(333deg, rgb(172, 172, 172) 14%, rgba(255, 255, 255, 1) 100%);
  overflow: overlay;
  z-index: 200;
}

.positionBottom {
   bottom: 30px; 
}

.test{
	width:10px;
}

/* .Typewriter{
  display: inline !important;
}
.Typewriter__wrapper {
  display: inline !important;
}
.Typewriter__cursor {
  display: inline-block !important;
  margin-left: 2px;
  vertical-align: baseline;
} */