@import "tailwindcss";
@import "./styles/radix.css";
/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */

body {
  background-color: #0A0928;
  color: white;
}

.loginRight h1 strong {
  background: #A43EEA;
  background: linear-gradient(to right, #A43EEA 0%, #21B2EC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loginForm form input[type='text'] {
  transition: background-color 0.2s ease-in;
}

.loginForm form button {
  transition: 0.2s ease-in;
}


.loader {
  color: #fff;
  width: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
  margin: 0 auto;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
  }

  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
  }
}

.layout {
  background: #0A0928;
  /* background: linear-gradient(333deg, rgb(172, 172, 172) 14%, rgba(255, 255, 255, 1) 100%); */
  overflow: overlay;
  z-index: 200;
}

.positionBottom {
   bottom: 30px; 
}
.assistant p:not(:first-child){
  margin-bottom:20px;
}
.assistant ul{display:flex;list-style:disc; list-style-position: inside;  flex-direction: column;width:100%;}
.assistant ul li{margin:10px 0;}
.assistant table{margin:20px 0;line-height: 25px;width:100%;table-layout: fixed;}
.assistant table tr th{background-color: #ececec;}
.assistant table th, .assistant table td{padding:10px}
.assistant table tr td{border-bottom:1px solid #999;}
.assistant hr{margin:30px 0;color:#999;}
.assistant h2{font-weight:bold;}
.assistant strong{margin-bottom:5px;display:block;}

